name: CI
on:
  push:
    branches: [ 10.0 ]
  pull_request:
    branches: [ 10.0 ]

jobs:
  build:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          username: oliveiradigital
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: oliveiradigital/odoo-br-base
          dockerfile: ./Dockerfile